{% extends "base.html" %}
{% block title %}Agregar Dictados - Aula Virtual{% endblock %}
{% block content %}

<h1>Agregar Dictado</h1>

    <form method="POST">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea><br><br>

        <label for="imagen_url">URL de Imagen:</label><br>
        <input type="text" id="imagen_url" name="imagen_url"><br><br>

        <button type="submit">Agregar</button>
    </form>

    <br>
    <a href="{{ url_for('dictados') }}">Volver a la lista</a>

{% endblock %}